/* ================================== xl Screens ==================================*/
@media (min-width:1200px)
{
    .toggler
    {
        display: none;
    }

    .navbar
    {
        left: 10px;
    }
}


/* ================================== lg Screens ==================================*/
@media (max-width: 1199px) and (min-width: 992px)
{
    .toggler
    {
        display: none;
    }
    .navbar
    {
        width: 100%;
    }

    .btn-primary
    {
        width: 100% !important;
        margin-bottom: 10px;
    }
    
    #Section-1 a
    {
        width: 100% !important;
        text-align: center;
    }

    #Section-2 .AboutHeader
    {
        font-size: 34px;
    }

}

/* ================================== md Screens ==================================*/
@media (max-width: 991px) and (min-width: 768px) 
{

    .navbarWrapper
    {
        background-color: white;
    }

    .navbar
    {
        height: auto;
        width: 100%;
    }
    .tags-container
    {
        border-bottom: 1px solid grey;
    }
    .tag
    {
        width: 100%;
        display: block;
    }
    .btn
    {
        width: 100% !important;
    }
    
    #Section-2 .AboutHeader
    {
        text-align: center;
    }
    #Section-3 button.btn
    {
        width: 100% !important;
    }
}


/* ================================== sm Screens ==================================*/
@media(max-width:767px)
{
    .navbarWrapper
    {
        background-color: white;
    }
    .navbar
    {
        height: auto;
        width: 100%;
    }
    .tags-container
    {
        flex-wrap: wrap;
        border-bottom: 1px solid grey;
    }
    .tag
    {
        width: 100%;
        display: block;
    }
    .btn
    {
        width: 100% !important;
    }
    .smallwidth
    {
        width: 65%;
    }
    .sm-around
    {
        justify-content: space-around !important;
    }
    .btn-primary
    {
        width: 100% !important;
        margin-bottom: 10px;
    }
    #Section-1
    {
        background-size: 130% 100%
    }
    #Section-1 a
    {
        width: 100% !important;
        text-align: center;
    }

    #Section-1 .funnyText
    {
        font-size: 45px;
        text-align: center;
    }

    .redHeaders
    {
        text-align: center;
    }
    #Section-1 .btnsWrapper
    {
        width: 100%;
    }
    #Section-1 .btn-primary
    {
        width: 100%;
    }
    .Counterwrapper, .counterTitle, .counter
    {
        text-align: center;
    }
    .mainContainer
    {       
        margin-top: 30px;
    }    
    #Section-2 .AboutHeader
    {
        text-align: center;
        font-size: 18px;
    }

    #Section-2 h1
    {
        font-size: 25px;
    }

    #Section-2 h2
    {
        font-size: 20px;
    }
    
    #Section-2 h3
    {
        font-size: 18px;
    }
    
    #Section-2 p
    {
        font-size: 16px;
    }
    #Section-3 button.btn
    {
        width: 90% !important;
        font-size: 18px;
    }

    #Section-3 .FunnyHeader
    {
        font-size: 20px;
    }

    #Section-4 h2
    {
        font-size: 14px;
    }
    
    #Section-4 h1
    {
        font-size: 18px;
    }

    #Section-4 h3
    {
        text-align: center;
        margin-bottom: 30px;
    }
    

    .CardSec4
    {
        width: 100%;
    }
    .fa-triangle-exclamation    
    {
        display: block !important;
        width: 100%;
        margin-bottom: 20px;
        height: 50px !important;
    }

    #Section-4 .typing .Head
    {
        font-size: 17px;
    }
    .typing
    {
        font-size: 15px;   
        height: auto !important;
    }

    #Section-4 .btn-primary
    {
        font-size: 18px;
    }
}


