*
{
    padding: 0px;
    margin: 0px;
}

:root
{
    --macFont : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

body
{
    width: 100%;
    height: 2000px;
}

@font-face {
    font-family: oswald;
    src: url(../fonts/oswald-font-family/Oswald-Regular.ttf);
}

@font-face {
    font-family: halvetica;
    src: url(../fonts/Helvetica.ttf);
}


/* .col-1 ,.col-2, .col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12
{ 
    border: 1px solid black;
} */

/* ========================== Navbar =========================== */

.navbarWrapper
{
    position: fixed;
    width: 100%;
    background-color: transparent;
    height: auto;

    z-index: 1000;
    transition: all 0.5s;
}

.navbar
{
    width:85%;
    height: 70px;
    
}

/* ========================== End Navbar =========================== */

/* ========================== Corona Logo =========================== */
.Logo
{
    position: relative;
    border: 1px solid transparent;
    transition: all 0.2s;
}

.Logo svg
{
    width: 30px;  
    height: 30px;

    position: relative;
    bottom: -2px;
}

.logoWord, .logoNumber
{
    font-size: 27px;
    font-weight: 900;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: var(--macFont);
    color:#4B6691;
}

.logoWord
{
    color:#394B6C;
}

.Logo:hover
{
    cursor: pointer;
    text-shadow: 2px 2px 10px grey
}

/* ========================== End Corona Logo =========================== */

/* ========================== navbar List =========================== */

.tags-container
{
    list-style: none;
    width: 100%;
    text-align: center;
}
.tag 
{
    display: inline;
    padding: 8px;
}
.tag a
{
    color: #50658E;
    font-size: 16px;
    font-family: var(--macFont);
    font-weight: 700;
    transition: all 0.2s;
}
.btn
{
    width: 115px !important;
}

.tag:hover
{
    cursor: pointer;
}

.tag:hover a
{
    text-decoration: none;
    color: #394B6C;
    text-shadow: 2px 2px 10px grey;
}




/* ========================== end Navbar List =========================== */


/* ========================= Sections ================================== */

section
{
    width: 100%;
    height: auto;
    overflow: hidden;

    padding-top: 50px;
    margin-bottom: 100px;
}

.row
{
    height: auto;
}

.col-1 ,.col-2, .col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12
{ 
    height: auto;
}

#Section-1
{
    background-image: url(../images/navbackground.png);
    background-color: #F7F9FE;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 70px;
}

.mainContainer
{
    position: relative;
    margin-top: 80px;
    width: 85%;
}

#Section-1 .redHeader
{
    display: block;
    color: #FF5363;
    font-family: oswald;
    font-weight: 700;
    font-size: 26px;
    text-shadow: 1px 0px black -1px 0px black 0 1px black 0 -1px black;
    line-height: 40px;
}

#Section-1 .funnyText
{
    color: #50658E;
    font-weight: 700;
    font-size: 80px;

    letter-spacing: 1px;

    margin-bottom: 0px;

    text-align: right;
}

#Section-1 .auto_Type
{
    margin: 25px 0px;
    color: #212529;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 24px;
}

#Section-1 .btnsWrapper
{
    width: 85%;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

#Section-1 .btn-primary
{
    border-radius: 50px;
    font-size: 20px;
    font-family: var(--macFont);
    font-weight: 700;
    height: 50px;
    width: 50%;
    text-align: left;
    padding-left: 30px;
    position: relative;
}

#Section-1 a
{
    font-size: 20px;
    font-family: var(--macFont);
    font-weight: 500;
    margin-top: 9px;
}


#Section-1 .btn-primary:hover
{
    text-decoration: underline;
}

#Section-1 button .icon
{
    position: absolute;
    right: 8%;
    bottom: 20%;
}

#Section-1 button .icon svg
{
    width: 20px;
    display: inline;
}

.counterTitle
{
    font-size: 12px;
    font-weight: bold;
    color: #7292bb;
}

.counter
{
    color: #465675;
    font-size: 24px;
    width: 100%;
    font-weight: bold;
    text-align: left;
}

#Section-1 .notice
{
    font-family: halvetica;
    font-size: 12px;
    color: #7D92bb;
}


/* ====================================================================================================================== */


#Section-2 h1
{
    font-size: 40px;
    text-align: center;
    font-style: italic;
    color: #2A81EA;
    font-weight: 800;

}

#Section-2 .AboutHeader
{
    font-style:normal;
    text-align: left;
    margin-bottom: 0px;
    color: #064590;
    margin: 20px 0px;

}

#Section-2 h2
{
    font-size: 26px;
    font-family: oswald;
    color: #212529;
    font-weight: bold;
    margin: 20px 0px;
}

#Section-2 h3
{
    font-size: 24px;
    font-family: var(--macFont);
    color: #212529;
    font-weight: bold;
    margin: 20px 0px;
}

#Section-2 p
{
    font-size: 16px;
    font-family: var(--macFont);
    color:#3d4b69;
}

.myRow
{
    border: 1px solid #e7e8ff;
    text-align: center;
    margin: 20px 0px;
    box-shadow: 10px 10px 11px black;
}

.tableContent
{
    border-bottom:1px solid #e7e8ff;
    height: 70px;
    padding-top: 20px;
    font-weight: bold;
    text-align: left;
}

.h1Content
{
    font-size: 20px;
    font-family: var(--macFont);
    color: #212529;
    font-weight: bold;
    text-align: center;
}

#FadeDownEffect
{
    height: 0px;
}

/* ====================================================================================================================== */

#Section-3
{
    background-color: #F7F9FE;
}

#Section-3 h2, #Section-4 h2
{
    font-size: 30px;
    font-family: oswald;
    color: #2A81EA;
    font-style: italic;
    font-weight: bold;
    text-align: center;

    margin: 10px 0px;
}

#Section-3 h1, #Section-4 h1
{
    font-size: 35px;
    font-weight: bold;
    color: #50658E;
    text-align: center;
    margin: 20px 0px;
}

#Section-3 h3, #Section-4 h3
{
    font-size: 16px;
    font-family: var(--macFont);
    color: #3d4b69;
    text-align: center;
    margin: 10px 0px;
    font-weight: 300;
}

.CardSec3
{
    width: 100%;
    margin-bottom: 50px;
}

.CardSec3 .cardImage img
{
    width: 100%;
    height: 100%;
}


.CardSec3 .cardInfo
{    
    border-top: 6px solid #9cc2f7;
    background-color: white;
}


.CardSec3 .cardInfo .cardHeader
{
    color: #2a81ea !important;
    font-size: 18px !important;
    font-family: var(--macFont) !important;
}

#Section-3 button.btn
{
    width: 40% !important;
    height: 60px;
    border-radius: 30px;

    font-size: 23px;
    font-family: oswald;
    font-weight: bold;
    margin-bottom: 50px;
}

#Section-3 button.btn .fa-circle-question
{
    float: left;
    line-height: 10px;    
    position: relative;
    top: 5px;
}

/*=====================================================================================================*/

#Section-4 h2
{
    font-size: 20px;
}

#Section-4 h1
{
    font-size: 40px;
    margin: 10px 0px 20px 0px;
}

#Section-4 h3
{
    font-size: 16px;
    font-family: var(--macFont);
    margin-bottom: 100px !important;
}


.CardSec4 .cardImage
{
    position: absolute;
    right: 20px;
    top: -70px;

    border-radius: 50%;
    width: 100px;
    height: 100px;

    overflow: hidden;
}

.cardImage img
{
    width: 100%;
    height: 100%;
}

.CardSec4
{
    
    width: 100%;
    height: 200px;
    padding: 10px 8px;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 50px;
}

.CardSec4 .cardHeader
{
    font-size: 18px !important;
    font-family: var(--macFont) !important;
    text-align: left !important;
    color: #2a81ea !important;

    margin: 0px !important;
    margin-bottom: 5px !important;

}


.CardSec4 span
{
    display: inline;
    float: left;
    color:#3d4b69;
    font-size: 16px;
    font-family: var(--macFont);
    font-weight: bold;
    margin-right: 6px;
}

#background4-1
{
    background-image: url(../images/Section4-1.png);
    background-size: 100% 100%;
}
#background4-2
{
    background-image: url(../images/Section4-2.png);
    background-size: 100% 100%;
}
#background4-3
{
    background-image: url(../images/Section4-3.png);
    background-size: 100% 100%;
}

.fa-triangle-exclamation
{
    height: 60% !important;
    color:blue;
    float: left;
    margin-right: 20px;
}

#Section-4 .typing
{
    height: 100px;
}

#Section-4 .typing .Head
{
    display: inline;
    font-size: 20px;
    font-family: var(--macFont);
    color: #2A81EA;
    font-weight: bold;    
    height: 20px;
}

#Section-4 .btn-primary
{
    width: 100% !important;
    height: 60px;
    border-radius: 30px;
    font-size: 23px;
    font-family: oswald;
}
